  body {
      background-image: url('imges/lamp.gif');
  }

  p {
      margin: 60px;
      color: white;
      font-size: 22px;
  }

  p:hover {
      -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px);
  }